<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Жак-Андрэ</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Заказы</a></li>
        <li><a href="#about">Статистика</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar-static-top/">Первомайская 193</a></li>
        <li><a href="./">выйти <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <% if notice %>
      <br/>

      <div class="alert alert-info"> <%= notice %> </div>
  <% end %>
  <% if !@orders.blank? %>
  <table class="table table_toche">
    <caption>
<button type="button" class="btn btn-default btn-lg">ПЕРЕДАТЬ В ЦЕХ</button>
      <br>
      <form action="/get">
        <input class="btn btn-warning btn-lg" type="submit" value="ПРОВЕРИТЬ ЗАЯВКИ" />
      </form>

    </caption>
    <thead>
    <tr>
      <th>№</th>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Цена</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id_order %></th>
      <td><%= order.name_of_customer %></td>
      <td><%= order.phone_of_customer %></td>
      <td> <button type="button" class="btn btn-primary btn-lg">НАПЕЧАТАТЬ</button></td>
      <td> <button type="button" class="btn btn-success btn-lg">ОПЛАТИЛ</button></td>
      <td> <button type="button" class="btn btn-danger btn-lg">ОТМЕНИТЬ</button></td>
    </tr>
    <tr>
      <th scope="row"><%= order.id_order %></th>
      <td><%= order.name_of_customer %></td>
      <td><%= order.phone_of_customer %></td>
      <td> <button type="button" class="btn btn-primary btn-lg">НАПЕЧАТАТЬ</button></td>
      <td> <button type="button" class="btn btn-success btn-lg">ОПЛАТИЛ</button></td>
      <td> <button type="button" class="btn btn-danger btn-lg">ОТМЕНИТЬ</button></td>
    </tr>
    <tr>
      <th scope="row"><%= order.id_order %></th>
      <td><%= order.name_of_customer %></td>
      <td><%= order.phone_of_customer %></td>
      <td> <button type="button" class="btn btn-primary btn-lg">НАПЕЧАТАТЬ</button></td>
      <td> <button type="button" class="btn btn-success btn-lg">ОПЛАТИЛ</button></td>
      <td> <button type="button" class="btn btn-danger btn-lg">ОТМЕНИТЬ</button></td>
    </tr>
    <% end %>

    </tbody>
  </table>
<% else %>
      <caption>Пока тут ничего нет.</caption>

      <form action="/get">
        <input class="btn btn-default btn-lg" type="submit" value="ПРОВЕРИТЬ ЗАЯВКИ" />
      </form>
  <% end %>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>