<script type="text/javascript" charset="utf-8" xmlns="http://www.w3.org/1999/html">
    $(document).ready(function () {
        $('#date').val('');
        $('#phone').inputmask('+7 (999) 99-99-999');
        //Page date
        var month = $("#month").val();
        var number_of_day_in_month = new Date(2017, month, 0).getDate();
        var date_order='';
        var input_text = ''; //день в дате заказа торта
        var theme = ''; //вид украшение торта
        var shapeCake = ''; //форма торта
        var shapeCakeId = ''//id формы торта
        var max_floor = ''; //максимальное количество этажей в торте
        var floor_order = ''; //количество этажей в торте
        var floor_now = 0; //текущее количество
        var price_cake = 0; //цена за торт
        var weight = 0; //вес торта
        var difference_in_days = 0; //разница дней
        var textOnNameplate = ''; //текст на табличке
        var inputTextFromKeybord = '';//данные о надписи
        var text_on_substrate = '';//текст на подложку
        var name = '';//имя
        var phone = '';//переменная для ввода телефона клиента
        var phoneNumber = ''; //телефон клиента
        var address = '';//Адрес


        $('#month').change(function () {
            month = $("#month").val();
            number_of_day_in_month = new Date(2017, month, 0).getDate();
            //$('#date').val(number_of_day_in_month);
            input_text = '';
            $('#date').val(input_text);
        });

        btnNumber(1);
        btnNumber(2);
        btnNumber(3);
        btnNumber(4);
        btnNumber(5);
        btnNumber(6);
        btnNumber(7);
        btnNumber(8);
        btnNumber(9);
        btnNumber(0);

        $('#keypad_delete').click(function () {
            if (input_text.length > 0) {
                input_text = input_text.substring(0, input_text.length - 1);
                $('#date').val(input_text);
                $('#date').focus();
            }
            else {
                $('#date').focus();
            }
        });
        //end page date

        //Page next
        var step = 1;
        $('#next').click(function () {
            switch (step) {
                case 1:
                    nextDate();
                    break;
                case 2:
                    break;
                case 3:
                    break;

            }
        });
        //end page next

        //Page theme
        $('#theme-wedding-div').click(function () {
            theme = "На свадьбу";
            nextTheme();
        });
        $('#theme-bithday-div').click(function () {
            theme = "Для любого торжества";
            nextTheme();
        });
        $('#theme-child-div').click(function () {
            theme = "На детский праздник";
            nextTheme();
        });
        $('#theme-anniversary-div').click(function () {
            theme = "На юбилей";
            nextTheme();
        });

        //end page theme

        //Page shape
        $('#shape-circle').click(function () {
            shapeCake = "Круг";
            shapeCakeId = "circle_f"

            nextShape(shapeCakeId + "4");

        });
        $('#shape-rectangle').click(function () {
            shapeCake = "Прямоугольник";
            weight = 3.3;
            if (difference_in_days >= 7) {
                price_cake = 625 * weight;
            } else {
                price_cake = 625 * weight + (625 * weight) * 20;
            }
            nextShape();
        });
        $('#shape-heart').click(function () {
            shapeCake = "Сердце";
            shapeCakeId = "heart_f"
            nextShape(shapeCakeId + "2");
        });
        $('#shape-cloud').click(function () {
            shapeCake = "Облако";
            shapeCakeId = "cloud_f"
            nextShape(shapeCakeId + "2");
        });
        $('#shape-hexahedron').click(function () {
            shapeCake = "Шестигранник";
            weight = 1.8;
            if (difference_in_days >= 7) {
                price_cake = 625 * weight;
            } else {
                price_cake = 625 * weight + (625 * weight) * 20;
            }
            nextShape();
        });

        //end page shape

        //Page Text
        $('#nextFromFloor').click(function () {
            $("#pageFloor").animate({
                'margin-top': 300,
                opacity: 0

            }, 1000, function () {
                $("#pageFloor").css('display', 'none');

                $("#pageText").css('display', 'block');
                $("#pageText").animate({
                    opacity: 1

                }, 1000, function () {
                    step = 4;
                    //console.log(theme);
                });
            });
        });
        //end page Text


        //Функция для нажатия цифр
        function btnNumber(number) {
            $('#keypad' + number).click(function () {
                if (input_text.length < 2) {
                    input_text = input_text + number
                    if (parseInt(input_text) > number_of_day_in_month || parseInt(input_text) == 0 && input_text.length > 1) {
                        input_text = number_of_day_in_month.toString();
                        $('#date').val(number_of_day_in_month);
                    }
                    else {
                        $('#date').val(input_text);
                    }
                }
            });
        }

        //Функция проверки при переходе из страницы ВЫБОРА ДАТЫ
        function nextDate() {
            //Если дата состоит из одной цифры добавляем 0 перед числом, для приведения к виду 01
            if (input_text.length == 1) {
                input_text = "0" + input_text
                $('#date').val(input_text);
            }
            //Дата заказа записанная в строку
            date_order = "2017." + month + "." + input_text;

            //Если дата не пустая
            if (input_text.length > 0) {
                var now = new Date();
                var fullYearNow = now.getFullYear();
                var monthNow = now.getMonth() + 1;
                var dateNow = now.getDate();
                var day_of_the_week = now.getDay();
                var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                var date_of_order = new Date(2017, month - 1, input_text);
                difference_in_days = (date_of_order.valueOf() - today.valueOf()) / 86400000;

                var week = [1, 2, 3, 4, 5, 6, 7];

                //считаем рабочии дни
                var days = 0;
                var i = day_of_the_week - 1;
                var count = 1;
                while (count <= difference_in_days) {

                    if (week[i] == 6 || week[i] == 7) {

                    } else {
                        days++;
                    }
                    count++;
                    i++;
                    if (i == 7) {
                        i = 0
                    }
                }
                console.log("Разница дней: " + difference_in_days);
                console.log("Разница рабочих дней: " + days);
                //программа не учитывает праздники только выходные дни

                //Если дней меньше чем надо

                if (days < 2) {
                    msgShow("Загаловок", "Текст");
                } else {
                    $("#pageDate").animate({
                        'margin-top': 300,
                        opacity: 0

                    }, 1000, function () {
                        $("#pageDate").css('display', 'none');

                        $("#pageTheme").css('display', 'block');
                        $("#pageTheme").animate({
                            opacity: 1

                        }, 1000, function () {
                            step = 2;
                            $("#next").animate({
                                opacity: 0

                            }, 300, function () {
                                $("#next").css('display', 'none');
                            });
                        });
                    });


                }

            } else { //если дата пустая
                msgShow("Загаловок", "Текст");
            }
        }

        //end function nextDate

        //nextTheme
        function nextTheme() {
            $("#pageTheme").animate({
                'margin-top': 300,
                opacity: 0

            }, 1000, function () {
                $("#pageTheme").css('display', 'none');

                $("#pageShape").css('display', 'block');
                $("#pageShape").animate({
                    opacity: 1

                }, 1000, function () {
                    step = 3;
                    console.log(theme);
                });
            });
        }

        //end nextTheme

        //Keybord подложка
        $('#1').click(function () {
            keybord('Й');
        });

        $('#2').click(function () {
            keybord("Ц");
        });
        $('#3').click(function () {
            keybord("У");
        });
        $('#4').click(function () {
            keybord("К");
        });
        $('#5').click(function () {
            keybord("Е");
        });
        $('#6').click(function () {
            keybord("Н");
        });
        $('#7').click(function () {
            keybord("Г");
        });
        $('#8').click(function () {
            keybord("Ш");
        });
        $('#9').click(function () {
            keybord("Щ");
        });
        $('#10').click(function () {
            keybord("З");
        });
        $('#11').click(function () {
            keybord("Х");
        });
        $('#12').click(function () {
            keybord("Ъ");
        });
        $('#13').click(function () {
            keybord("Ф");
        });
        $('#14').click(function () {
            keybord("Ы");
        });
        $('#15').click(function () {
            keybord("В");
        });
        $('#16').click(function () {
            keybord("А");
        });
        $('#17').click(function () {
            keybord("П");
        });
        $('#18').click(function () {
            keybord("Р");
        });
        $('#19').click(function () {
            keybord("О");
        });
        $('#20').click(function () {
            keybord("Л");
        });
        $('#21').click(function () {
            keybord("Д");
        });
        $('#22').click(function () {
            keybord("Ж");
        });
        $('#23').click(function () {
            keybord("Э");
        });
        $('#24').click(function () {
            keybord("Ё");
        });
        $('#25').click(function () {
            keybord("Я");
        });
        $('#26').click(function () {
            keybord("Ч");
        });
        $('#27').click(function () {
            keybord("С");
        });
        $('#28').click(function () {
            keybord("М");
        });
        $('#29').click(function () {
            keybord("И");
        });
        $('#30').click(function () {
            keybord("Т");
        });
        $('#31').click(function () {
            keybord("Ь");
        });
        $('#32').click(function () {
            keybord("Б");
        });
        $('#33').click(function () {
            keybord("Ю");
        });
        $('#34').click(function () {
            keybord(".");
        });
        $('#35').click(function () {
            keybord(",");
        });
        $('#36').click(function () {
            keybord(" ");
        });
        $('#37').click(function () {
            if (text_on_substrate.length > 0) {
                text_on_substrate = text_on_substrate.substring(0, text_on_substrate.length - 1);
                $('#text_on_substrate').val(text_on_substrate);
                $('#text_count_input').text("Кол-во символов: " + (27 - text_on_substrate.length));
                $('#text_on_substrate').focus();
            }
            else {
                $('#text_on_substrate').focus();
            }
        });
        $('#38').click(function () {
            //переход на ввод имени
            $("#pageText").animate({
                'margin-top': 300,
                opacity: 0

            }, 1000, function () {
                $("#pageText").css('display', 'none');

                $("#pageName").css('display', 'block');
                $("#pageName").animate({
                    opacity: 1

                }, 1000, function () {
                    step = 5;
                    //console.log(theme);
                });
            });
        });
        //end Keybord подлэка

        //Keybord имя
        $('#n1').click(function () {
            keybordName('Й');
        });

        $('#n2').click(function () {
            keybordName("Ц");
        });
        $('#n3').click(function () {
            keybordName("У");
        });
        $('#n4').click(function () {
            keybordName("К");
        });
        $('#n5').click(function () {
            keybordName("Е");
        });
        $('#n6').click(function () {
            keybordName("Н");
        });
        $('#n7').click(function () {
            keybordName("Г");
        });
        $('#n8').click(function () {
            keybordName("Ш");
        });
        $('#n9').click(function () {
            keybordName("Щ");
        });
        $('#n10').click(function () {
            keybordName("З");
        });
        $('#n11').click(function () {
            keybordName("Х");
        });
        $('#n12').click(function () {
            keybordName("Ъ");
        });
        $('#n13').click(function () {
            keybordName("Ф");
        });
        $('#n14').click(function () {
            keybordName("Ы");
        });
        $('#n15').click(function () {
            keybordName("В");
        });
        $('#n16').click(function () {
            keybordName("А");
        });
        $('#n17').click(function () {
            keybordName("П");
        });
        $('#n18').click(function () {
            keybordName("Р");
        });
        $('#n19').click(function () {
            keybordName("О");
        });
        $('#n20').click(function () {
            keybordName("Л");
        });
        $('#n21').click(function () {
            keybordName("Д");
        });
        $('#n22').click(function () {
            keybordName("Ж");
        });
        $('#n23').click(function () {
            keybordName("Э");
        });
        $('#n24').click(function () {
            keybordName("Ё");
        });
        $('#n25').click(function () {
            keybordName("Я");
        });
        $('#n26').click(function () {
            keybordName("Ч");
        });
        $('#n27').click(function () {
            keybordName("С");
        });
        $('#n28').click(function () {
            keybordName("М");
        });
        $('#n29').click(function () {
            keybordName("И");
        });
        $('#n30').click(function () {
            keybordName("Т");
        });
        $('#n31').click(function () {
            keybordName("Ь");
        });
        $('#n32').click(function () {
            keybordName("Б");
        });
        $('#n33').click(function () {
            keybordName("Ю");
        });
        $('#n34').click(function () {
            keybordName(".");
        });
        $('#n35').click(function () {
            keybordName(",");
        });
        $('#n36').click(function () {
            keybordName(" ");
        });
        $('#n37').click(function () {
            if (name.length > 0) {
                name = name.substring(0, name.length - 1);
                $('#name').val(name);
                $('#text_count_input').text("Кол-во символов: " + (30 - name.length));
                $('#name').focus();
            }
            else {
                $('#name').focus();
            }
        });
        $('#n38').click(function () {
            //переход на ввод имени
            $("#pageName").animate({
                'margin-top': 300,
                opacity: 0

            }, 1000, function () {
                $("#pageName").css('display', 'none');

                $("#pagePhone").css('display', 'block');
                $("#pagePhone").animate({
                    opacity: 1

                }, 1000, function () {
                    step = 6;
                    //console.log(theme);
                });
            });
        });
        //end Keybord имя

        //Ввод телефона
        btnNumberPhone(1);
        btnNumberPhone(2);
        btnNumberPhone(3);
        btnNumberPhone(4);
        btnNumberPhone(5);
        btnNumberPhone(6);
        btnNumberPhone(7);
        btnNumberPhone(8);
        btnNumberPhone(9);
        btnNumberPhone(0);

        $('#keypadPhone_delete').click(function () {
            if (phone.length > 0) {
                phone = phone.substring(0, phone.length - 1);
                $('#phone').val(phone);
                $('#phone').focus();
            }
            else {
                $('#phone').focus();
            }
        });

        //Функция для нажатия цифр
        function btnNumberPhone(number) {
            $('#keypadPhone' + number).click(function () {
                if (phone.length < 10) {
                    phone = phone + number
                    $('#phone').val(phone);
                } else {

                }

            });
        }


        $('#nextFromPhone').click(function () {


            if (phone.length == 10) {
                phoneNumber = $("#phone").val();
                $("#pagePhone").animate({
                    'margin-top': 300,
                    opacity: 0

                }, 1000, function () {
                    $("#pagePhone").css('display', 'none');
                    $("#pageAddress").css('display', 'block');
                    $("#pageAddress").animate({
                        opacity: 1

                    }, 1000, function () {
                        step = 6;

                    });
                });

            }
            else {
                $("#errorPhone").css('display', 'block');
                $("#errorPhone").animate({
                    opacity: 0

                }, 2000, function () {
                    $("#errorPhone").css('display', 'none');
                    $("#errorPhone").css('opacity', '1');
                });
            }
        });
        //end ввод телефона

        //Ввод адреса
        $('#order_delivery').click(function () {

            $("#btnAddress").animate({
                opacity: 0

            }, 1000, function () {
                $("#btnAddress").css('display', 'none');

                $("#delivery-container").css('display', 'block');
                $("#delivery-container").animate({
                    opacity: 1

                }, 1000, function () {
                    step = 7;
                    //console.log(theme);
                });
            });

        });

        $('#order_cancel').click(function () {

            $("#pageAddress").animate({
                opacity: 0

            }, 1000, function () {
                $("#pageAddress").css('display', 'none');

                $("#pageInfo").css('display', 'block');
                $("#pageInfo").animate({
                    opacity: 1

                }, 1000, function () {
                    step = 7;
                    //console.log(theme);
                    pageInfo();
                });
            });

        });

        //Keybord адрес
        $('#address1').click(function () {
            keybordAddress('Й');
        });

        $('#address2').click(function () {
            keybordAddress("Ц");
        });
        $('#address3').click(function () {
            keybordAddress("У");
        });
        $('#address4').click(function () {
            keybordAddress("К");
        });
        $('#address5').click(function () {
            keybordAddress("Е");
        });
        $('#address6').click(function () {
            keybordAddress("Н");
        });
        $('#address7').click(function () {
            keybordAddress("Г");
        });
        $('#address8').click(function () {
            keybordAddress("Ш");
        });
        $('#address9').click(function () {
            keybordAddress("Щ");
        });
        $('#address10').click(function () {
            keybordAddress("З");
        });
        $('#address11').click(function () {
            keybordAddress("Х");
        });
        $('#address12').click(function () {
            keybordAddress("Ъ");
        });
        $('#address13').click(function () {
            keybordAddress("Ф");
        });
        $('#address14').click(function () {
            keybordAddress("Ы");
        });
        $('#address15').click(function () {
            keybordAddress("В");
        });
        $('#address16').click(function () {
            keybordAddress("А");
        });
        $('#address17').click(function () {
            keybordAddress("П");
        });
        $('#address18').click(function () {
            keybordAddress("Р");
        });
        $('#address19').click(function () {
            keybordAddress("О");
        });
        $('#address20').click(function () {
            keybordAddress("Л");
        });
        $('#address21').click(function () {
            keybordAddress("Д");
        });
        $('#address22').click(function () {
            keybordAddress("Ж");
        });
        $('#address23').click(function () {
            keybordAddress("Э");
        });
        $('#address24').click(function () {
            keybordAddress("Ё");
        });
        $('#address25').click(function () {
            keybordAddress("Я");
        });
        $('#address26').click(function () {
            keybordAddress("Ч");
        });
        $('#address27').click(function () {
            keybordAddress("С");
        });
        $('#address28').click(function () {
            keybordAddress("М");
        });
        $('#address29').click(function () {
            keybordAddress("И");
        });
        $('#address30').click(function () {
            keybordAddress("Т");
        });
        $('#address31').click(function () {
            keybordAddress("Ь");
        });
        $('#address32').click(function () {
            keybordAddress("Б");
        });
        $('#address33').click(function () {
            keybordAddress("Ю");
        });
        $('#address34').click(function () {
            keybordAddress(".");
        });
        $('#address35').click(function () {
            keybordAddress(",");
        });
        $('#address36').click(function () {
            keybordAddress(" ");
        });
        $('#address37').click(function () {
            if (address.length > 0) {
                address = address.substring(0, address.length - 1);
                $('#address_text_area').val(address);
                // $('#text_count_input').text("Кол-во символов: " + (30 - name.length));
                $('#address_text_area').focus();
            }
            else {
                $('#address_text_area').focus();
            }
        });
        $('#address38').click(function () {
            //переход на страницу вывода итоговой информации

            if (nospace(address).length > 0) {
                $("#pageAddress").animate({
                    'margin-top': 300,
                    opacity: 0

                }, 1000, function () {
                    $("#pageAddress").css('display', 'none');
                    $("#pageInfo").css('display', 'block');
                    $("#pageInfo").animate({
                        opacity: 1

                    }, 1000, function () {
                        //step = 5;
                        pageInfo();
                    });
                });

            } else {
                address = '';

                $("#pageAddress").animate({
                    'margin-top': 300,
                    opacity: 0

                }, 1000, function () {
                    $("#pageAddress").css('display', 'none');
                    $("#pageInfo").css('display', 'block');
                    $("#pageInfo").animate({
                        opacity: 1

                    }, 1000, function () {
                        //step = 5;
                        pageInfo();
                    });
                });

            }


        });

        function nospace(str) {
            var VRegExp = new RegExp(/^(\s|\u00A0)+/g);
            var VResult = str.replace(VRegExp, '');
            return VResult
        }

        $('#address39').click(function () {
            keybordAddress("0");
        });
        $('#address40').click(function () {
            keybordAddress("1");
        });
        $('#address41').click(function () {
            keybordAddress("2");
        });
        $('#address42').click(function () {
            keybordAddress("3");
        });
        $('#address43').click(function () {
            keybordAddress("4");
        });
        $('#address44').click(function () {
            keybordAddress("5");
        });
        $('#address45').click(function () {
            keybordAddress("6");
        });
        $('#address46').click(function () {
            keybordAddress("7");
        });
        $('#address47').click(function () {
            keybordAddress("8");
        });
        $('#address48').click(function () {
            keybordAddress("9");
        });


        //keybordAddress
        function keybordAddress(chart) {
            if (address.length < 200) {
                address = address + chart;
                $('#address_text_area').val(address);
                //$('#text_count_input_name').text("Кол-во символов: " + (200 - address.length));
            } else {
                //todo сообщение о превышении лимита
            }
        }

        //End keybordAddress
        //end Keybord адресс


        //end ввод адреса

        //nextShape
        function nextShape(shapeCakeId) {
            if (shapeCake == 'Круг' || shapeCake == 'Сердце' || shapeCake == 'Облако') {
                $("#pageShape").animate({
                    'margin-top': 300,
                    opacity: 0

                }, 1000, function () {
                    $("#pageShape").css('display', 'none');
                    $('#floor').addClass(shapeCakeId);
                    switch (shapeCake) {
                        case 'Круг':
                            max_floor = 4;
                            $('#floor_number').text(max_floor);
                            break;
                        case 'Сердце':
                            max_floor = 2;
                            $('#floor_number').text(max_floor);
                            break;
                        case 'Облако':
                            max_floor = 2;
                            $('#floor_number').text(max_floor);
                            break;
                    }
                    floor_now = max_floor;

                    changePriceAndWidth();


                    $("#pageFloor").css('display', 'block');
                    $("#pageFloor").animate({
                        opacity: 1

                    }, 1000, function () {
                        step = 4;
                        console.log(shapeCake);

                    });
                });
            } else {
                $("#pageShape").animate({
                    'margin-top': 300,
                    opacity: 0

                }, 1000, function () {
                    $("#pageShape").css('display', 'none');
                    $("#pageText").css('display', 'block');
                    $("#pageText").animate({
                        opacity: 1

                    }, 1000, function () {
                        step = 5;

                    });
                });
            }

        }

        //end nextShape

        //Keybord
        function keybord(chart) {
            if (text_on_substrate.length < 27) {
                text_on_substrate = text_on_substrate + chart;
                $('#text_on_substrate').val(text_on_substrate);
                $('#text_count_input').text("Кол-во символов: " + (27 - text_on_substrate.length));
            } else {
                //todo сообщение о превышении лимита
            }
        }

        //end Keybord

        //keybordName
        function keybordName(chart) {
            if (name.length < 30) {
                name = name + chart;
                $('#name').val(name);
                $('#text_count_input_name').text("Кол-во символов: " + (30 - name.length));
            } else {
                //todo сообщение о превышении лимита
            }
        }

        //End keybordName

        //Обработка количества ярусов
        $('#less').click(function () {
            if (floor_now > 1) {
                floor_now = floor_now - 1;
                $('#floor_number').text(floor_now);
                changeFloor(floor_now);
                changePriceAndWidth();
                console.log('меньше');
            }
        });
        $('#more').click(function () {
            if (floor_now < max_floor) {
                floor_now = floor_now + 1;
                $('#floor_number').text(floor_now);
                changeFloor(floor_now);
                changePriceAndWidth();
                console.log('больше');
            }
        });

        function changeFloor(floor_now) {
            switch (floor_now) {
                case '4':
                    weight = 7;
                    break;
                case '3':
                    weight = 6.5;
                    break;
                case '2':
                    weight = 5.5;
                    break;
                case '1':
                    weight = 4.3;
                    break;
            }

            if (difference_in_days >= 7) {
                price_cake = 625 * weight;
            } else {
                price_cake = 625 * weight + (625 * weight) * 20;
            }
            $('#floor').removeClass($('#floor').attr('class'));
            $('#floor').addClass(shapeCakeId + "" + floor_now);
            $('#price_floor').text("Цена: " + price_cake + " Р.");

        }

        //конец выбора количества ярусов

      /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
        $('#modal_close, #overlay, #popup__btn').click(function () { // лoвим клик пo крестику или пoдлoжке
            msgHide();
        });

        function msgShow(title, text) {
            $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                function () { // пoсле выпoлнения предъидущей aнимaции
                    $('#modal_form')
                        .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                        .animate({opacity: 1, top: '50%'}, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                });
        }

        function msgHide() {
            $('#modal_form')
                .animate({opacity: 0, top: '45%'}, 200,  // плaвнo меняем прoзрaчнoсть нa 0 и oднoвременнo двигaем oкнo вверх
                    function () { // пoсле aнимaции
                        $(this).css('display', 'none'); // делaем ему display: none;
                        $('#overlay').fadeOut(400); // скрывaем пoдлoжку
                    }
                );
        }

        function changePriceAndWidth() {
            switch (floor_now) {
                case 4:
                    weight = 7;
                    break;
                case 3:
                    weight = 6.5;
                    break;
                case 2:
                    weight = 5.5;
                    break;
                case 1:
                    weight = 4.3;
                    break;
            }
            console.log("Вес" + weight);
            console.log("Этажей" + floor_now);
            if (difference_in_days >= 7) {
                price_cake = 500 * weight;
            } else {
                price_cake = 500 * weight + (500 * weight) * 0.2;
            }

            $('#price_floor').text("Цена: " + price_cake + " Р.");
            $('#weight_floor').text("Вес: " + weight + " кг.");
        }

        function pageInfo() {
            if (nospace(name).length > 0) {
                $('#infoName').text("Ваше Имя: " + name);
            }
            if (phoneNumber.length > 1) {
                $('#infoPhone').text("Ваше телефон: " + phoneNumber);
            }
            $('#infoDate').text("Торт должен быть готов к: " + date_order);
            $('#infoTheme').text("Украшение торта: " + theme);
            $('#infoShape').text("Форма: " + shapeCake);
            $('#infoFloor').text("Количество ярусов: " + floor_order);
            $('#infoWedth').text("Вес: " + weight+ " кг.");

            if (nospace(address).length > 5) {
                $('#infoDelivery').text("Адрес доставки: " + address);
                $('#infoPrice').text("Цена торта: " + price_cake+ "+ Доставка 450 Руб.");
            } else {
                $('#infoPrice').text("Цена торта: " + price_cake);
            }


        }


    });
</script>
<div class="header">
  <div class="container">
    <div class="col-md-6">
      <h4 class="header-text"><a class="header-text" href="/orders">НАЧАТЬ С НАЧАЛО</a></h4>
    </div>
    <div class="col-md-6">
      <!--  <h4 id="next" class="header-text header-text_right">ДАЛЕЕ</h4> -->
    </div>
  </div>
</div>
<div id="pageDate" class="container">
  <div id="next" class="next">ДАЛЕЕ</div>
  <!-- Модальное окно -->
  <div id="modal_form"><!-- Сaмo oкнo -->
    <!-- <span id="modal_close">X</span>  Кнoпкa зaкрыть -->
    <div class="msg_title">Ой! Excusez moi :)</div>
    <div class="msg_text">Нам нужно больше времени, что бы приготовить торт! <br> Если Вы закажите за 7 дней, то
      получите 20% скидку!
    </div>
    <button id="popup__btn" class="popup__btn">Закрыть окно</button>
  </div>
  <div id="overlay"></div><!-- Пoдлoжкa -->
  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-date">
    <div class="msg-box">
      <h4 class="msg-box_date"> Когда торт должен быть готов?</h4>
      <p class="msg-box_text">Вы можете заказать торт за 2 рабочих дня до торжества. Если заказ производится за 7
        рабочих дней то Вы
        получаете 20% скидку!</p>
    </div>


    <div class="box-container">
      <h4 class="year">2017 год</h4>
      <select id="month" class="month">
        <!-- <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3" selected>Март</option> -->
        <option value="4" selected>Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
      </select>
      <input class="date" id="date" placeholder="День" type="text">
      <div class="numeric-keypad">
        <div class="line-numeric">
          <li id="keypad1" class="numeric">1</li>
          <li id="keypad2" class="numeric">2</li>
          <li id="keypad3" class="numeric">3</li>
        </div>
        <div class="line-numeric">
          <li id="keypad4" class="numeric">4</li>
          <li id="keypad5" class="numeric">5</li>
          <li id="keypad6" class="numeric">6</li>
        </div>
        <div class="line-numeric">
          <li id="keypad7" class="numeric">7</li>
          <li id="keypad8" class="numeric">8</li>
          <li id="keypad9" class="numeric">9</li>
        </div>
        <div class="line-numeric">
          <li id="keypad0" class="numeric">0</li>
          <li id="keypad_delete" class="numeric_delete">УДАЛИТЬ</li>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- Выбор темы -->
<div id="pageTheme" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-theme">
    <div class="msg-box">
      <h4 class="msg-box_date"> Как хотите украсить торт?</h4>
      <p class="msg-box_text">Для продолжения нажмите на один из способов украшения торта указанных ниже!</p>
    </div>
    <div class="col-md-6">
      <div id="theme-wedding-div" class="theme">
        <%= image_tag "wedding.png", id: 'theme-wedding', class: 'theme_img' %>
        <h3>На свадьбу</h3>
      </div>
      <div id="theme-bithday-div" class="theme">
        <%= image_tag "bithday.png", id: 'theme-bithday', class: 'theme_img' %>
        <img src="" alt="">
        <h3>Для любого торжества</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div id="theme-child-div" class="theme">
        <%= image_tag "child.png", id: 'theme-child', class: 'theme_img' %>
        <img src="" alt="">
        <h3>На детский праздник</h3>
      </div>
      <div id="theme-anniversary-div" class="theme">
        <%= image_tag "anniversary.png", id: 'theme-anniversary', class: 'theme_img' %>
        <img src="" alt="">
        <h3 class="theme-anniversary-title">На юбилей</h3>
      </div>
    </div>
  </div>
</div>
<!-- конец выбора темы -->

<!-- Выбор формы -->
<div id="pageShape" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-theme">
    <div class="msg-box">
      <h4 class="msg-box_date"> Какую хотите форму торта?</h4>
      <p class="msg-box_text">Для продолжения нажмите на одну из форм торта указанную ниже!</p>
    </div>
    <div class="col-md-4">
      <div id="shape-circle" class="shape">
        <div class="circle"></div>
        <h3>Круг</h3>
      </div>
      <div id="shape-rectangle" class="shape">
        <div class="rectangle"></div>
        <img src="" alt="">
        <h3>Прямоугольник</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div id="shape-heart" class="shape">
        <div class="heart"></div>
        <img src="" alt="">
        <h3>Сердце</h3>
      </div>
      <div id="shape-cloud" class="shape">
        <div class="cloud"></div>
        <img src="" alt="">
        <h3>Облако</h3>
      </div>

    </div>
    <div class="col-md-4">
      <div id="shape-hexahedron" class="shape">
        <div class="hexahedron"></div>
        <img src="" alt="">
        <h3>Шестигранник</h3>
      </div>
    </div>

  </div>
</div>
<!-- конец выбора формы -->

<!-- Выбор кол-во ярусов -->
<div id="pageFloor" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-theme">
    <div class="msg-box">
      <h4 class="msg-box_date"> Выбирите количество ярусов на торте?</h4>
      <p class="msg-box_text">Для продолжения нажмите кнопку "ДАЛЕЕ"!</p>
    </div>

    <div class="col-md-8">
      <div class="shapeFloor">
        <div id="floor" class=""></div>
      </div>
    </div>
    <div class="col-md-4">
      <h4 id="price_floor" class="price_floor"></h4>
      <h4 id="weight_floor" class="weight_floor"></h4>

      <div class="floor">
        <h4 id="floor_number" class="floor_number"></h4>
        <div id="less" class="less">МЕНЬШЕ</div>
        <div id="more" class="more">БОЛЬШЕ</div>
        <h4 class="floor_title">количество ярусов</h4>
        <div id="nextFromFloor" class="nextFromFloor">ДАЛЕЕ</div>
      </div>
    </div>
  </div>
</div>
<!-- конец выбора формы -->

<!-- Табличка с текстом -->
<div id="pageText" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-text">
    <div id="text-msg-box" class="msg-box">
      <h4 class="msg-box_date"> Хотите написать поздравление на табличке?</h4>
      <p class="msg-box_text">Стоимость таблички 200 р. Вы можете пропустить этот пункт. Для продолжения нажмите кнопку
        "ДАЛЕЕ"!</p>
      <p id="text_count_input" class="msg-box_text">Кол-во символов: 27</p>
    </div>

    <input class="text_on_substrate" id="text_on_substrate" placeholder="Надпись на овальной подложке" type="text" maxlength="30"/>

    <div class="keybord-line">
      <li id="1" class="keybord-btn">й</li>
      <li id="2" class="keybord-btn">Ц</li>
      <li id="3" class="keybord-btn">у</li>
      <li id="4" class="keybord-btn">К</li>
      <li id="5" class="keybord-btn">Е</li>
      <li id="6" class="keybord-btn">Н</li>
      <li id="7" class="keybord-btn">Г</li>
      <li id="8" class="keybord-btn">Ш</li>
      <li id="9" class="keybord-btn">Щ</li>
      <li id="10" class="keybord-btn">З</li>
      <li id="11" class="keybord-btn">Х</li>
      <li id="12" class="keybord-btn">Ъ</li>
    </div>
    <div class="keybord-line">
      <li id="13" class="keybord-btn">Ф</li>
      <li id="14" class="keybord-btn">Ы</li>
      <li id="15" class="keybord-btn">В</li>
      <li id="16" class="keybord-btn">А</li>
      <li id="17" class="keybord-btn">П</li>
      <li id="18" class="keybord-btn">Р</li>
      <li id="19" class="keybord-btn">О</li>
      <li id="20" class="keybord-btn">Л</li>
      <li id="21" class="keybord-btn">Д</li>
      <li id="22" class="keybord-btn">Ж</li>
      <li id="23" class="keybord-btn">Э</li>
      <li id="24" class="keybord-btn">Ё</li>
    </div>
    <div class="keybord-line">
      <li id="25" class="keybord-btn">Я</li>
      <li id="26" class="keybord-btn">Ч</li>
      <li id="27" class="keybord-btn">С</li>
      <li id="28" class="keybord-btn">М</li>
      <li id="29" class="keybord-btn">И</li>
      <li id="30" class="keybord-btn">Т</li>
      <li id="31" class="keybord-btn">Ь</li>
      <li id="32" class="keybord-btn">Б</li>
      <li id="33" class="keybord-btn">Ю</li>
      <li id="34" class="keybord-btn">.</li>
      <li id="35" class="keybord-btn">,</li>
    </div>
    <li id="36" class="keybord-btn-space">пробел</li>
    <li id="37" class="keybord-btn-space">удалить</li>
    <li id="38" class="keybord-btn-space">далее</li>

  </div>
</div>
<!-- конец таблички с текстом -->

<!-- Имя -->
<div id="pageName" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-text">
    <div id="name-msg-box" class="msg-box">
      <h4 class="msg-box_date"> Введите Ваше Имя?</h4>
      <p class="msg-box_text">Для продолжения нажмите кнопку
        "ДАЛЕЕ"!</p>
      <p id="text_count_input_name" class="msg-box_text">Кол-во символов: 30</p>
    </div>

    <input class="text_on_substrate" id="name" placeholder="Имя" type="text" maxlength="30"/>

    <div class="keybord-line">
      <li id="n1" class="keybord-btn">й</li>
      <li id="n2" class="keybord-btn">Ц</li>
      <li id="n3" class="keybord-btn">у</li>
      <li id="n4" class="keybord-btn">К</li>
      <li id="n5" class="keybord-btn">Е</li>
      <li id="n6" class="keybord-btn">Н</li>
      <li id="n7" class="keybord-btn">Г</li>
      <li id="n8" class="keybord-btn">Ш</li>
      <li id="n9" class="keybord-btn">Щ</li>
      <li id="n10" class="keybord-btn">З</li>
      <li id="n11" class="keybord-btn">Х</li>
      <li id="n12" class="keybord-btn">Ъ</li>
    </div>
    <div class="keybord-line">
      <li id="n13" class="keybord-btn">Ф</li>
      <li id="n14" class="keybord-btn">Ы</li>
      <li id="n15" class="keybord-btn">В</li>
      <li id="n16" class="keybord-btn">А</li>
      <li id="n17" class="keybord-btn">П</li>
      <li id="n18" class="keybord-btn">Р</li>
      <li id="n19" class="keybord-btn">О</li>
      <li id="n20" class="keybord-btn">Л</li>
      <li id="n21" class="keybord-btn">Д</li>
      <li id="n22" class="keybord-btn">Ж</li>
      <li id="n23" class="keybord-btn">Э</li>
      <li id="n24" class="keybord-btn">Ё</li>
    </div>
    <div class="keybord-line">
      <li id="n25" class="keybord-btn">Я</li>
      <li id="n26" class="keybord-btn">Ч</li>
      <li id="n27" class="keybord-btn">С</li>
      <li id="n28" class="keybord-btn">М</li>
      <li id="n29" class="keybord-btn">И</li>
      <li id="n30" class="keybord-btn">Т</li>
      <li id="n31" class="keybord-btn">Ь</li>
      <li id="n32" class="keybord-btn">Б</li>
      <li id="n33" class="keybord-btn">Ю</li>
      <li id="n34" class="keybord-btn">.</li>
      <li id="n35" class="keybord-btn">,</li>
    </div>
    <li id="n36" class="keybord-btn-space">пробел</li>
    <li id="n37" class="keybord-btn-space">удалить</li>
    <li id="n38" class="keybord-btn-space">далее</li>

  </div>
</div>
<!-- конец ввода имени -->

<!-- Ввод телефона -->
<div id="pagePhone" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div id="nextFromPhone" class="next">ДАЛЕЕ</div>
  <div class="page-text">
    <div class="msg-box">
      <h4 class="msg-box_date"> Введите Ваш номер телефона!</h4>
      <p class="msg-box_text">Для продолжения нажмите ДАЛЕЕ!</p>
    </div>
    <div id="errorPhone" class="errorPhone">Телефон введен не корректно!</div>
    <input class="phone" id="phone" placeholder="Телефон" type="text">

    <div class="numeric-keypad">
      <div class="line-numeric">
        <li id="keypadPhone1" class="numeric">1</li>
        <li id="keypadPhone2" class="numeric">2</li>
        <li id="keypadPhone3" class="numeric">3</li>
      </div>
      <div class="line-numeric">
        <li id="keypadPhone4" class="numeric">4</li>
        <li id="keypadPhone5" class="numeric">5</li>
        <li id="keypadPhone6" class="numeric">6</li>
      </div>
      <div class="line-numeric">
        <li id="keypadPhone7" class="numeric">7</li>
        <li id="keypadPhone8" class="numeric">8</li>
        <li id="keypadPhone9" class="numeric">9</li>
      </div>
      <div class="line-numeric">
        <li id="keypadPhone0" class="numeric">0</li>
        <li id="keypadPhone_delete" class="numeric_delete">УДАЛИТЬ</li>
      </div>
    </div>
  </div>
</div>
</div>
<!-- конец ввода телефона -->

<!-- Адресс -->
<div id="pageAddress" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-text">
    <div id="name-msg-box" class="msg-box">
      <h4 class="msg-box_date"> Мы можем доставить торт!</h4>
      <p id="textAddreess" class="msg-box_text">У нас есть доставка по городу Майкопу. Стоимость доставки 450р.</p>
      <div id="btnAddress" class="btn-msg-container">
        <div class="msg-box_btn" id="order_delivery">заказать доставку</div>
        <div class="msg-box_btn" id="order_cancel">отказаться</div>
      </div>
    </div>

    <div id="delivery-container" class="delivery-container">
      <textarea class="address_text_area" id="address_text_area" placeholder="Введите адрес доставки" type="text" maxlength="200" rows="4"></textarea>

      <div class="keybord-line">
        <li id="address39" class="keybord-btn">0</li>
        <li id="address40" class="keybord-btn">1</li>
        <li id="address41" class="keybord-btn">2</li>
        <li id="address42" class="keybord-btn">3</li>
        <li id="address43" class="keybord-btn">4</li>
        <li id="address44" class="keybord-btn">5</li>
        <li id="address45" class="keybord-btn">6</li>
        <li id="address46" class="keybord-btn">7</li>
        <li id="address47" class="keybord-btn">8</li>
        <li id="address48" class="keybord-btn">9</li>

      </div>
      <div class="keybord-line">
        <li id="address1" class="keybord-btn">й</li>
        <li id="address2" class="keybord-btn">Ц</li>
        <li id="address3" class="keybord-btn">у</li>
        <li id="address4" class="keybord-btn">К</li>
        <li id="address5" class="keybord-btn">Е</li>
        <li id="address6" class="keybord-btn">Н</li>
        <li id="address7" class="keybord-btn">Г</li>
        <li id="address8" class="keybord-btn">Ш</li>
        <li id="address9" class="keybord-btn">Щ</li>
        <li id="address10" class="keybord-btn">З</li>
        <li id="address11" class="keybord-btn">Х</li>
        <li id="address12" class="keybord-btn">Ъ</li>
      </div>
      <div class="keybord-line">
        <li id="address13" class="keybord-btn">Ф</li>
        <li id="address14" class="keybord-btn">Ы</li>
        <li id="address15" class="keybord-btn">В</li>
        <li id="address16" class="keybord-btn">А</li>
        <li id="address17" class="keybord-btn">П</li>
        <li id="address18" class="keybord-btn">Р</li>
        <li id="address19" class="keybord-btn">О</li>
        <li id="address20" class="keybord-btn">Л</li>
        <li id="address21" class="keybord-btn">Д</li>
        <li id="address22" class="keybord-btn">Ж</li>
        <li id="address23" class="keybord-btn">Э</li>
        <li id="address24" class="keybord-btn">Ё</li>
      </div>
      <div class="keybord-line">
        <li id="address25" class="keybord-btn">Я</li>
        <li id="address26" class="keybord-btn">Ч</li>
        <li id="address27" class="keybord-btn">С</li>
        <li id="address28" class="keybord-btn">М</li>
        <li id="address29" class="keybord-btn">И</li>
        <li id="address30" class="keybord-btn">Т</li>
        <li id="address31" class="keybord-btn">Ь</li>
        <li id="address32" class="keybord-btn">Б</li>
        <li id="address33" class="keybord-btn">Ю</li>
        <li id="address34" class="keybord-btn">.</li>
        <li id="address35" class="keybord-btn">,</li>
      </div>
      <li id="address36" class="keybord-btn-space">пробел</li>
      <li id="address37" class="keybord-btn-space">удалить</li>
      <li id="address38" class="keybord-btn-space">далее</li>
    </div>
  </div>
</div>
<!-- конец ввода адреса -->

<!-- Адресс -->
<div id="pageAddress" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-text">
    <div id="name-msg-box" class="msg-box">
      <h4 class="msg-box_date"> Вы заказали!</h4>
      <p id="textAddreess" class="msg-box_text">Оз</p>
      <div id="btnAddress" class="btn-msg-container">
        <div class="msg-box_btn" id="order_delivery">заказать доставку</div>
        <div class="msg-box_btn" id="order_cancel">отказаться</div>
      </div>
    </div>


  </div>
</div>
<!-- конец инфо -->

<!-- Адресс -->
<div id="pageInfo" class="container">

  <!--
  <div class="logo">
    <%= image_tag "logo.png", id: 'logo' %>
  </div> -->
  <div class="page-text">
    <div id="info-msg-box" class="msg-box">
      <h4 class="msg-box_date"> Проверьте Ваш заказ!</h4>
      <p id="textAddreess" class="msg-box_text">Если что-то пошло не так необходимо заполнить информацию заного. Для
        этого нажмите "начать с начало".</p>
      <div class="info-container">
        <p id="infoName"></p>
        <p id="infoPhone"></p>
        <p id="infoDate"></p>
        <p id="infoTheme"></p>
        <p id="infoShape"></p>
        <p id="infoFloor"></p>
        <p id="infoText"></p>
        <p id="infoWedth"></p>
        <p id="infoDelivery"></p>
        <p id="infoPrice"></p>

      </div>
      <div class="msg-box_btn" id="order_cancel">заказать</div>
    </div>
  </div>
</div>
<!-- конец инфо -->
