<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Заказы</a></li>
        <li><a href="#about">Статистика</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><%= current_user.name %></a></li>
        <li> <%= link_to 'выйти', session_url(current_user), method: 'delete' %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <% if notice %>
      <br/>

      <div class="alert alert-info"> <%= notice %> </div>
  <% end %>
  <% if !@orders.blank? %>
      <table class="table table_toche">
        <caption>

          <form action="/factory">
            <input class="btn btn-warning btn-lg" type="submit" value="ПРОВЕРИТЬ ЗАЯВКИ"/>
          </form>

        </caption>
        <thead>
        <tr>
          <th>№</th>
          <th>Имя</th>
          <th>Телефон</th>
          <th>Цена</th>
          <th></th>
          <th></th>

        </tr>
        </thead>
        <tbody>

        <% @orders.each do |order| %>
            <tr>
              <th scope="row"><%= order.id_order %></th>
              <td><%= order.name_of_customer %></td>
              <td><%= order.phone_of_customer %></td>
              <td>

                <form action="/print_on_factory/<%= order.id %>">
                  <input class="btn btn-primary btn-lg" type="submit" value="НАПЕЧАТАТЬ"/>
                </form>
              </td>
              <td>
                <% if order.is_ready_cake %>
                    <form action="/extradition/<%= order.id %>">
                      <input class="btn btn-success btn-lg" type="submit" value="ТОРТ ВЫДАН КЛИЕНТУ"/>
                    </form>
                <% else %>
                    <form action="/ready/<%= order.id %>">
                      <input class="btn btn-success btn-lg" type="submit" value="ЗАКАЗ ГОТОВ"/>
                    </form>
                <% end %>
              </td>
            </tr>
        <% end %>

        </tbody>
      </table>
  <% else %>
      <caption>Пока тут ничего нет.</caption>
      <br> <br>
      <form action="/factory">
        <input class="btn btn-default btn-lg" type="submit" value="ПРОВЕРИТЬ ЗАЯВКИ"/>
      </form>
  <% end %>
</div> <!-- /container -->
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>