<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        window.print();
        window.close();

      /*var win = window.open();
       self.focus();
       win.document.open();
       win.document.write('<'+'html'+'><'+'body'+'>');
       win.document.write(printThis);
       win.document.write('<'+'/body'+'><'+'/html'+'>');
       win.document.close();
       win.print();
       win.close(); */
    });
</script>
<div class="container print">
  <div class="logo_container">
    <%= image_tag "logo.png", id: 'logo' %>
  </div>
  <br>
  <br>
  <form action="/factory">
    <input class="btn btn-primary btn-lg" type="submit" value="Заказ № <%= @order.id_order %>"/>
  </form>
  <br>

  <br>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th><b>Имя:</b></th>
      <td><%= @order.name_of_customer %></td>
    </tr>
    <tr>
      <th>Телефон:</th>
      <td><%= @order.phone_of_customer %></td>
    </tr>
    <tr>
      <th>Дата выдачи:</th>
      <td><%= @order.date %></td>
    </tr>
    <tr>
      <th>Тема украшения:</th>
      <td><%= @order.the_theme %></td>
    </tr>
    <% if @order.insription.length > 0 %>
        <tr>
          <th>Надпись на табличке:</th>
          <td><%= @order.insription %></td>
        </tr>
    <% else %>
        <tr>
          <th>Надпись на табличке:</th>
          <td>Без поздравительной надписи</td>
        </tr>
    <% end %>

    <tr>
      <th>Форма:</th>
      <td><%= @order.the_shape %></td>
    </tr>
    <tr>
      <th>Кол-во ярусов:</th>
      <td><%= @order.floor %></td>
    </tr>
    <tr>
      <th>Вес:</th>
      <td><%= @order.weight %></td>
    </tr>
    <% if @order.address.length > 0 %>
        <tr>
          <th>Адресс доставки:</th>
          <td><%= @order.address %></td>
        </tr>
    <% else %>
        <tr>
          <th>Доставка:</th>
          <td>Без доставки</td>
        </tr>
    <% end %>
    <tr>
      <th>Цена:</th>
      <td><%= @order.price_for_shape_and_floor %> руб.</td>
    </tr>
    </tbody>
  </table>


  <% if @order.address.length > 0 %>

  <% else %>
      <b>Самовывоз производится по адресу: г.Майкоп, Хлебокомбинат, ул. Привокзальная 128</b><br> <br>
  <% end %>
  <b>ShowRoom Жак-Андрэ:</b><br>
  <b>г.Майкоп, Хлебокомбинат, ул. Привокзальная 128</b> <br>
  тел.: +7(928)467-87-81 <br>
  instagram.com/jacques_andre_ <br>
  <br>
  <b>Магазин Жак-Андрэ:</b> <br>
  <b>г.Майкоп, ул. Первомайская 193</b> <br>
  тел.: +7(900)246-20-50 <br>
  instagram.com/jacques_andre_ <br><br>
  <div class="rules">
    *Подписывая Вы соглашаетесь с условиями заказа торта.
  </div>
</div>