<!DOCTYPE html>
<html>
  <head>
    <title>Digital Cake</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href=<%= asset_path 'bootstrap.min.css'%>>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <script src=<%= asset_path 'inputmask.js'%>></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
